body {
    margin: 0;
    padding: 0;
    background-color: #67c4eb;
}

#board {
    width: 100vw; 
    height: 100vh;
    position: relative;
    overflow: hidden;
}

#player {
    background-color: #6F73C6;
    position: absolute;
}

.platform {
    background-color: #ffffff;
    position: absolute;
}